.seat {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .disponivel {
    background-color: #ddd;
  }
  
  .selecionado {
    background-color: #cd4a3e;
  }
  
  .indisponivel {
    background-color: #505050;
    cursor: not-allowed;
  }
  