.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #172438;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.container.light {
  background-color: #d2e0d5;
  color: #1a1a24;
}

.movieTitle {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

.sessionTime {
  font-size: 26px;
  font-weight: 300;
  margin: 0 0 20px;
  text-align: center;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.buyButton {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #355691;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.light .buyButton {
  background-color: #3f7a49; 
}

.buyButton:hover {
  background-color: #23437a;
  transform: scale(1.05);
}

.light .buyButton:hover {
  background-color: #2d6336;
  transform: scale(1.05);
}


.buttonPrice {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 100;
  color: #fff;
}

.lightModeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.icon {
  font-size: 50px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column; 
    gap: 20px; 
    align-items: center;
  }
  .container {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}